@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model IEnumerable<MockSchoolManagement.Models.Student> 
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title></title>
</head>
<body>
    <table>
        @foreach (var student in Model) { 
       <tr><td>id</td><td>@student.Id</td></tr>
            <tr><td>姓名</td><td>@student.Name</td></tr>
            <tr><td>专业</td><td>@student.Major</td></tr> 
        }
    </table>
</body>
</html>
