@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model MockSchoolManagement.Models.Student
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title></title>
</head>
<body>
    <table>

       <tr><td>id</td><td>@Model.Id</td></tr>
            <tr><td>姓名</td><td>@Model.Name</td></tr>
            <tr><td>专业</td><td>@Model.Major</td></tr> 
    </table>
</body>
</html>
